<header class="site-header">

  <div class="wrapper">

      <a class="site-title" href="{{ site.baseurl }}/">
          <img class="logo" src="/assets/site/logo.png"/>
      </a>

      <nav class="site-nav">

          <div class="trigger">
              <a class="page-link" href="{{ '/' | prepend: site.baseurl }}">Accueil</a>
              <a class="page-link" href="{{ '/blog' | prepend: site.baseurl }}">Blog</a>
              <a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">About</a>
          </div>
      </nav>

  </div>

</header>
